IndentWidth: '4'
IndentPPDirectives: BeforeHash
ColumnLimit: 100
PackConstructorInitializers: CurrentLine
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
AlignConsecutiveDeclarations: true