#-*- mode: conf -*-
Language: Cpp

IndentWidth: 4
IndentPPDirectives: BeforeHash
ColumnLimit: 100
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
NamespaceIndentation: Inner
#AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: Consecutive

## Have all arguments/parameters in one line, or one per line
#BinPackArguments: false
BinPackParameters: BinPack

## Only valid in clang >19
BreakTemplateDeclarations: 'Yes'

IncludeBlocks: Regroup

## ensure loop and new code block body is in new line
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
