BasedOnStyle: Google
IndentWidth: '4'
IndentPPDirectives: BeforeHash
ColumnLimit: 100
PackConstructorInitializers: CurrentLine
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
BreakTemplateDeclarations: true
NamespaceIndentation: Inner
#AlignConsecutiveDeclarations: true
