[submodule "external/portable-file-dialogs"]
	path = external/portable-file-dialogs
	url = https://github.com/samangh/portable-file-dialogs.git
	branch = main
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
	branch = master
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "external/thread-pool"]
	path = external/thread-pool
	url = https://github.com/DeveloperPaul123/thread-pool.git
[submodule "external/libsg_cmake"]
	path = external/libsg_cmake
	url = git@github.com:samangh/libsg_cmake.git
	branch = master
