name: Linux

on: [workflow_dispatch, pull_request, push]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BUILD_TYPE: Debug

jobs:
  build:
    name: ${{matrix.os}}-${{matrix.compiler.cc}}-${{matrix.type.label}}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        type:
          - { build_shared_libs: ON, label: shared}
          - { build_shared_libs: OFF, label: static}
        compiler:
          - {cc: gcc, cxx: g++, cmake_args: ""}
          - {cc: clang, cxx: clang++, cmake_args: "-DCOVERAGE=ON"}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # - name: Set up Homebrew
      #   uses: Homebrew/actions/setup-homebrew@master

      - name: Install Packages
        run: |
             sudo apt update
             sudo apt install llvm coreutils libboost-dev libboost-stacktrace-dev libsdl2-dev libuv1-dev libfmt-dev libzstd-dev doxygen graphviz
             # brew install zstd

      - name: Run CMake
        working-directory: ${{github.workspace}}
        env:
          CC: ${{ matrix.compiler.cc }}
          CXX: ${{ matrix.compiler.cxx }}
          CXXFLAGS: "-fprofile-update=prefer-atomic"
          CFLAGS: "-fprofile-update=prefer-atomic"
          # CMAKE_PREFIX_PATH: /home/linuxbrew
        # Download libfmt from source, as the packaged one is too old
        run: |
             mkdir build
             cd build
             cmake .. -DBUILD_SHARED_LIBS=${{matrix.type.build_shared_libs}} \
                   -DCMAKE_BUILD_TYPE=Release -DIPO=ON -DARCH_NATIVE=ON \
                   -DBUILD_TESTING=ON -DBUILD_DOCS=ON -DOWN_FMT=ON -DLISBG_STACKTRACE=ON ${{matrix.compiler.cmake_args}}

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: MAKEFLAGS=-j$(nproc) cmake --build .

      - name: Install
        working-directory: ${{github.workspace}}/build
        run: cmake --install . --prefix ../prefix

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ./test/sg_test -d yes
        # ctest --output-on-failure

      - name: List dependencies
        working-directory: ${{github.workspace}}/build
        run: ldd test/sg_test

      - name: Generate coverage report
        working-directory: ${{github.workspace}}/build
        if: ${{ (matrix.compiler.cc == 'clang') && (matrix.type.label == 'shared')  }}
        run: |
          # Run Code Generation
          cmake --build . --target coverage
          llvm-cov show ./test/sg_test -instr-profile=coverage/sg_test.profraw > coverage/coverage_sg_test.txt

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ (matrix.compiler.cc == 'clang') && (matrix.type.label == 'shared')  }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{github.workspace}}/build/coverage/coverage_sg_test.txt
